*{
  font-family: 'Nunito', sans-serif;
}

pre.prettyprint {
  border-radius: 4px;
  font-family: initial;
  background-color: #f4f4f4;
  padding: 5px !important;
}

.hero{
  background-color: #EF7B45;
  color: #fff;
}

.target{
  border: 2px solid #34D1BF;
  box-shadow : rgba(216, 216, 216, 0.7) -5px 5px 25px 2px;
  border-radius: 5px;
  height: 100%;
}

.first-title {
  color: #EF7B45;
}

.second-title {
  color: #042A2B;
}

.btn-cardify-outline {
  background-color: transparent;
  border: 1px solid #34D1BF;
  color: #042A2B;
}

.btn-cardify-outline:hover {
  background-color: #34D1BF;
  border: 1px solid transparent;
  color: #fff;
}

.footer-bg {
  background-color: #34D1BF;
  color: #fff;
}
.structure{
  border: 2px solid #EF7B45;
  border-radius: 5px;
  box-shadow : rgba(216, 216, 216, 0.7) -5px 5px 25px 2px;
}